<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta charset="utf-8"/>
  <meta content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Carrois+Gothic' media="screen">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC'
        media="screen">
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="@@cssfile?c=@@timestamp" media="screen"/>
  <title>Notes</title>
</head>
<body ng-controller="ShellController">
<div class="navbar navbar-default navbar-fixed-top" data-ng-init=init()>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/notes">Notes</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/add"><i class="fa fa-plus"></i> Add</a></li>
        <li><a href="#/archives"><i class="fa fa-trash"></i> Archives</a></li>
        <li><a href="#/attachments"><i class="fa fa-file-o"></i> Attachments</a></li>
        <li data-ng-if="showSpinner"><a href="#/archives"><i class="fa fa-spin fa-refresh"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs"><a href="#profile" data-ng-cloak data-ng-click="profile()">Welcome <span class="name">{{shell.email}}</span></a></li>
        <li><a href="{{shell.logout}}" class="roll-over"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="view" ng-view></div>
</div>

<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
<script type="text/javascript" charset="utf-8" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="vendor/moment/min/moment.min.js"></script>

<!-- Application -->
<script type="text/javascript" charset="utf-8" src="@@jsfile?c=@@timestamp"></script>

</body>
</html>