<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
	<div class="note-tile">
    <div class="pull-right tile-icons">
      <i class="fa fa-arrow-circle-left" data-ng-click="move($event, $index)"></i>
      <i class="fa fa-trash" data-ng-click="delete($index)"></i>
    </div>
		<div class="description">
      {{note.title}}
    </div>
    <div class="lower-half">
      <ul>
        <li>
          <label>Created</label>
          {{note.created | moment}}
        </li>
        <li>
          <label>Modified</label>
          {{note.updated | moment}}
        </li>
  		</ul>
    </div>
	</div>
</div>
