<h3>Archives</h3>
<div class="row" data-ng-init="init()">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Modified</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="note in notes">
          <td><i class="fa fa-times-circle delete-attachment" data-ng-click="delete($index)"></i></td>
          <td class="underline" data-ng-click="clicked($index)">{{note.title}}</td>
          <td>{{note.updated | moment}}</td>
          <td>{{note.created | moment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
