<h3>Attachments</h3>
<div data-ng-controller="AttachmentsController" data-ng-init="init()">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buttons">
        <a class="btn btn-default btn-sm" type="button" data-ng-click="cancel()">Cancel</a>
        <a class="btn btn-default btn-sm" type="button" data-ng-click="upload()">Upload</a>
      </div>
    <div>
      <form id="upload-form" class="hidden" action="{{url}}" method="POST" enctype="multipart/form-data">
        <input id="upload-file" name="file" type="file"/>
      </form>
		</div>
    <div>
      <table class="files-table table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Filename</th>
            <th>Date</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="a in attachments">
            <td><i class="fa fa-times-circle delete-attachment" data-ng-click="delete($index)"></i></td>
            <td><a href="/notes/v1/download/{{a.blobKey}}">{{a.filename}}</a></td>
            <td>{{a.created | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>{{a.size | bytes}}</td>
          </tr>
        </tbody>
			</table>
    </div>
    </div>
  </div>
</div>