<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
  <table class="files-table table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="note in notes">
        <td><i class="fa fa-times-circle delete-attachment" data-ng-click="delete($index)"></i></td>
        <td data-ng-click="clicked($index)">{{note.title}}</td>
        <td>{{a.created | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{a.size | bytes}}</td>
      </tr>
    </tbody>
	</table>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="note-tile">
    <div class="pull-right tile-icons">
      <i class="fa fa-pencil" data-ng-click="clicked($index)"></i>
      <i class="fa fa-times" data-ng-click="delete($event, $index)"></i>
    </div>
		<div class="description">
      {{note.title}}
    </div>
    <div class="lower-half">
      <ul>
        <li>
          <label>Created</label>
          {{note.created | moment}}
        </li>
        <li>
          <label>Modified</label>
          {{note.updated | moment}}
        </li>
  		</ul>
    </div>
	</div>
</div>
